@import "~/.cache/wal/colors-rofi-dark.rasi"

* {
    alternate-background: @alternate-normal-background;
    foreground-color: @foreground;
    selected: @selected-normal-background;
    active: @selected-active-background;
    urgent: @selected-urgent-background;
    handle-color: @selected-normal-background;
}
